body
{
	background-image: url("assets/favicon.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


.bg-taharica{
	background-image: url("assets/favicon.jpg");
	background-size: cover;
	background-repeat: no-repeat;

/*	background-color: darkred;*/
}